<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8" ng-app="kineliveApp"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9" ng-app="kineliveApp"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="kineliveApp"> <!--<![endif]-->
<head>
    <title>Kinelive App</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="assets/css/headers/header-v6.css">
    <link rel="stylesheet" href="assets/css/footers/footer-v6.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/plugins/sliding-panel/style.css">
    <link rel="stylesheet" href="assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
    <link rel="stylesheet" href="assets/css/theme-skins/dark.css">

    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">

    <style>
        .init-hidden {
            display: none;
        }

        /* Small devices (tablets, 768px and up) */
        @media (min-width: 992px) {
            .tablet-only {
                display: none;
            }
            .desktop-only {
                display: none;
            }
        }
        img.exercice {
            border: 1px solid #555;
            width: 350px;
        }

    </style>

</head>

<body  ng-controller="KineliveController" ng-cloak="" ng-swipe-right="swipeBack()"
      style="min-height: 750px;">
<div class="wrapper">

    <div style="position: fixed;" ng-if="pageTitle">
        <i ng-click="swipeBack()" style="margin-left: 12px; margin-top: 12px;" class="icon-custom icon-2x rounded-x icon-color-orange icon-line fa fa-caret-left"></i>

    </div>

    <div ng-cloak style="background-color: #444; color: white; border-bottom: 1px solid #AAA;" ng-show="pageTitle" class="init-hidden">
        <div style="float: left; margin-top: 8px; margin-left: 16px;">
        </div>
        <div style="text-align: center; font-size: 3em;" ng-bind-html="pageTitle"></div>
    </div>

    <!-- Promo Block -->
    <div ng-show="page == 'home' " class="promo-bg-pattern-v1-dark promo-bg-fixed content-xlg parallaxBg">
        <div class="container text-center" data-start="opacity: 1;" data-320="opacity: 0;">
				<span class="promo-text-v1 color-light margin-bottom-10 animated fadeInUp wow" data-wow-duration="2.5s"
                      data-wow-delay="0.5s">
					SUPER BASELINE
				</span>

            <h2 class="promo-text-v2 color-light animated fadeInUp wow margin-bottom-20" data-wow-duration="1.5s"
                data-wow-delay="1.5s">KINELIVE</h2>

            <div class="animated fadeInUp wow" data-wow-duration="1.2s" data-wow-delay="1s">
                <a ng-click="setPage('patients')" href="#"
                   class="btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-light btn-u-block rounded-4x margin-right-10">Mes
                    patients</a>
                <a ng-click="setPage('outils')" href="#"
                   class="btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-light btn-u-block rounded-4x">Mes outils</a>
            </div>
        </div>
    </div>
    <!-- End Promo Block -->

    <div ng-show=" page == 'patients' " class="init-hidden"
         style="padding: 16px;" ng-controller="PatientsController">

        <div class="col-md-4" style="margin-bottom: 24px;">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Rechercher un patient...">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search" not-yet
                    aria-hidden="true"></span></span>
            </div><!-- /input-group -->
        </div>

        <table class="table" style="">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>RDV</th>
                <th>Status</th>
                <th>Fiche</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="patient in patients">
                <td>{{ patient.lastName }}</td>
                <td>{{ patient.firstName }}</td>
                <td>{{ patient.nextMeeting | date:"MM/dd/yyyy 'à' h:mma"}}</td>
                <td><span class="label label-warning">{{ patient.status }}</span></td>
                <td>
                    <button ng-click="gotoPatient(patient)" class="btn-u btn-u-blue "><span
                            class="glyphicon glyphicon-user"></span> Fiche
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-show=" page == 'profil' " class="init-hidden"
         style="padding: 16px;"
         ng-controller="ProfilController">


        <div class="row">
            <div class="col-md-offset-1 col-md-5">
                <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
                    <div style="float: left; margin-right: 16px;">
                        <img style="width: 128px;" src="{{ patient.profilImage }}">
                    </div>

                    <div>
                        <h2>{{ patient.firstName }} {{ patient.lastName }}</h2>
                        <div>Age: {{ patient.age }} ans</div>
                        <div>{{ patient.address }}</div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-1">
                <div>
                    <i  not-yet class="icon-custom icon-lg rounded-x icon-color-orange icon-line glyphicon glyphicon-earphone"></i>
                </div>
                <div>
                    <i not-yet class="icon-custom icon-lg rounded-x icon-color-orange icon-line icon-envelope"></i>
                </div>
            </div>
            <div class="col-md-4">
                <form class="sky-form">
                    <label class="textarea">
                        <i class="icon-append fa fa-comment"></i>
                        <textarea rows="3" placeholder="Notes"></textarea>
                    </label>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="panel-group acc-v1 row" id="accordion-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1"
                                   href="#collapse-One" aria-expanded="false">
                                    <i class="fa fa-list-ol color-green"></i>
                                    Anamnèse
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-One" class="panel-collapse collapse" aria-expanded="false"
                             style="height: 0px;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <ul>
                                            <li>Déficience</li>
                                            <li>Incapacité</li>
                                            <li>Handicapté/désavantage</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="img/radio-genoux.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1"
                                   href="#collapse-Two" aria-expanded="false">
                                    <i class="fa fa-pencil-square color-blue"></i>
                                    Bilan
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Two" class="panel-collapse collapse" aria-expanded="false"
                             style="height: 0px;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid.</p>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta
                                                gravida at eget metus..
                                            </li>
                                            <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus
                                                comodo egetine..
                                            </li>
                                            <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt
                                                laborum eiusmod runch..
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="assets/img/main/img9.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1"
                                   href="#collapse-Three" aria-expanded="true">
                                    <i class="fa fa-check color-aqua"></i>
                                    Rééducation
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Three" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-10">
                                        <h3>Pathologie: <span style="font-weight: bold;">{{ patient.pathology }}</span></h3>
                                        <div>
                                            <button ng-disabled="data.isMax" ng-click="nextTimeLine()" class="btn-u btn-primary">Nouvelle séance <i class="fa fa-plus"></i></button>
                                        </div>
                                        <img style="width: 70%;" src="{{ data.timelineImg }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr/>
        <div class="row" style="margin-top: 16px;">
            <div class="col-md-offset-3 col-md-2">
                <button class="btn btn-warning" not-yet>Constat</button>
            </div>
            <div class="col-md-2">
                <button ng-click="setPage('traitements')" class="btn-u btn-u-red">Exercices</button>
            </div>
            <div class="col-md-2">
                <button class="btn-u btn-u-light-grey" not-yet>Commentaires</button>
            </div>
        </div>

        <div class="row" style="margin-top: 32px;">
            <div class="col-md-offset-5 col-md-1">
                <i class="icon-custom icon-lg rounded-x icon-color-orange icon-line icon-envelope" not-yet></i>
            </div>
            <div class="col-md-1">
                <i class="icon-custom icon-lg rounded-x icon-color-orange icon-line glyphicon glyphicon-list-alt" not-yet></i>
            </div>
            <div class="col-md-1">
                <i class="icon-custom icon-lg rounded-x icon-color-orange icon-line fa fa-cogs" ng-click="setPage('outils')"></i>
            </div>
        </div>
    </div>


    <div ng-show=" page == 'outils' " class="init-hidden"
         style="padding: 16px;"
         ng-controller="OutilsController">

        <div class="row">

            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Zone corporelle...">
                    <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                </div><!-- /input-group -->

                <ul class="nav nav-pills nav-stacked" style="margin-top: 16px;">
                    <li ng-repeat="view in imageDescriptor" class="{{ view.isActive ? 'active' : '' }}">
                        <a href="#home-2" data-toggle="tab" aria-expanded="false"><i class="fa fa-arrow-right"></i> {{ view.name }}</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-4">

                <div class="dropdown" style="margin-left: 64px;">
                    <button  style="min-width: 75%;" class=" btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Pathologie
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="patho in pathologies"><a href="#">{{ patho }}</a></li>
                    </ul>
                </div>

                <div style="margin-top: 16px;" class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                    <img style="width: 300px;" src="{{ state.image }}"
                        ng-click="toggleZoom()"
                    >
                    <div style="text-align: right">
                        <i ng-click="nextImage()" class="icon-custom icon-lg rounded-x icon-color-orange icon-line glyphicon glyphicon-refresh"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dropdown" style="">
                    <button  style="min-width: 75%;" class=" btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Traitement
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="trait in traitements"><a href="#">{{ trait }}</a></li>
                    </ul>
                </div>

                <ul class="nav nav-pills nav-stacked" style="margin-top: 16px;" ng-if="state.zoomed">
                    <li ng-repeat="view in symptomes">
                        <a ng-click="gotoSymptomes()" href="#home-2" data-toggle="tab" aria-expanded="false" class="btn btn-default">{{ view.name }}</a>
                    </li>
                </ul>

            </div>
        </div>

    </div>


    <div ng-show=" page == 'symptomes' " class="init-hidden"
         style="padding: 16px;"
         ng-controller="SymptomesController">

        <div class="row">

            <div class="col-md-6" style="text-align: center;">
                <img src="img/muscles/muscle_reduc.png">
                <h3 style="text-align: center;">Bonne condition</h3>
            </div>
            <div class="col-md-6" style="text-align: center;">
                <img src="img/muscles/muscle_normal.png">
                <h3 style="text-align: center;">Fonte musculaire</h3>
            </div>
        </div>


        <div class="row" style="margin-bottom: 16px;">
            <div class="col-md-12" style="text-align: center">
                <button class="btn-u btn-u-red btn-u-lg" ng-click="gotoTraitement()">Exercices</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <i not-yet ng-click="nextImage()" class="icon-custom icon-lg rounded-x icon-color-orange icon-line glyphicon glyphicon-pencil" style="margin-left: 0px;"></i>
                <i not-yet ng-click="nextImage()" class="icon-custom icon-lg rounded-x icon-color-orange icon-line glyphicon glyphicon-envelope" style="margin-left: 16px;"></i>
                <i not-yet ng-click="nextImage()" class="icon-custom icon-lg rounded-x icon-color-orange icon-line glyphicon glyphicon-user" style="margin-left: 16px;"></i>

            </div>
        </div>
    </div>

    <div ng-show=" page == 'traitements' " class="init-hidden"
         style="padding: 16px;" class="exercices"
         ng-controller="TraitementsController">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-trait-etirement"
                            style="font-weight: bold; font-size: 1.5em;"
                        >
                            Etirement
                        </a>
                    </h4>
                </div>
                <div id="collapse-trait-etirement" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row margin-bottom-10">
                            <div class="col-md-6" style="text-align: center;">
                                <div class="bg-light"><!-- You can delete "bg-light" class. It is just to make background color -->
                                    <h4><i class="fa fa-align-justify"></i>Chaine antérieure</h4>
                                    <div style="float: right;">
                                        <i class="icon-custom icon-lg rounded-x icon-color-blue icon-line glyphicon glyphicon-plus" not-yet></i>
                                        <br/>
                                        <i class="icon-custom icon-lg rounded-x icon-color-blue icon-line glyphicon glyphicon-envelope" not-yet></i>
                                    </div>
                                    <img class="exercice" src="img/traitements/trait_etirement_chaine_anterieure.jpeg">
                                </div>
                            </div>
                            <div class="col-md-6" style="text-align: center;">
                                <div class="bg-light"><!-- You can delete "bg-light" class. It is just to make background color -->
                                    <div style="float: right;">
                                        <i class="icon-custom icon-lg rounded-x icon-color-blue icon-line glyphicon glyphicon-plus" not-yet></i>
                                        <br/>
                                        <i class="icon-custom icon-lg rounded-x icon-color-blue icon-line glyphicon glyphicon-envelope" not-yet></i>
                                    </div>
                                    <h4><i class="fa fa-align-justify"></i>Chaine postérieure</h4>
                                    <img class="exercice" src="img/traitements/trait_chaine_posterieure.jpeg">
                                </div>
                            </div>
                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-md-6" style="text-align: center;">
                                <div class="bg-light"><!-- You can delete "bg-light" class. It is just to make background color -->
                                    <div style="float: right;">
                                        <i class="icon-custom icon-lg rounded-x icon-color-blue icon-line glyphicon glyphicon-plus" not-yet></i>
                                        <br/>
                                        <i class="icon-custom icon-lg rounded-x icon-color-blue icon-line glyphicon glyphicon-envelope" not-yet></i>
                                    </div>
                                    <h4><i class="fa fa-align-justify"></i>Chaine croisée</h4>
                                    <img class="exercice" src="img/traitements/trait_etirement_chaine_croisee.jpeg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-trait-renforcement-musculaire"
                           style="font-weight: bold; font-size: 1.5em;"
                        >
                            Renforcement musculaire
                        </a>
                    </h4>
                </div>
                <div id="collapse-trait-renforcement-musculaire" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row margin-bottom-10">
                            <div class="col-md-6" style="text-align: center;">
                                <div class="bg-light"><!-- You can delete "bg-light" class. It is just to make background color -->
                                    <div style="float: right;">
                                        <i class="icon-custom icon-lg rounded-x icon-color-blue icon-line glyphicon glyphicon-plus" not-yet></i>
                                        <br/>
                                        <i class="icon-custom icon-lg rounded-x icon-color-blue icon-line glyphicon glyphicon-envelope" not-yet></i>
                                    </div>
                                    <h4><i class="fa fa-align-justify"></i>Renforcement du quadriceps</h4>
                                    <img class="exercice" src="img/traitements/trait_mobilisation_flexion.jpeg">
                                </div>
                            </div>
                            <div class="col-md-6" style="text-align: center;">
                                <div class="bg-light"><!-- You can delete "bg-light" class. It is just to make background color -->
                                    <div style="float: right;">
                                        <i class="icon-custom icon-lg rounded-x icon-color-blue icon-line glyphicon glyphicon-plus" not-yet></i>
                                        <br/>
                                        <i class="icon-custom icon-lg rounded-x icon-color-blue icon-line glyphicon glyphicon-envelope" not-yet></i>
                                    </div>
                                    <h4><i class="fa fa-align-justify"></i>Renforcement du moyen fessier</h4>
                                    <iframe width="350" height="258" src="https://www.youtube.com/embed/Hz9oF8N0Yx8" frameborder="0" allowfullscreen></iframe>
                                    <!--width="560" height="315"-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-trait-proprioception"
                           style="font-weight: bold; font-size: 1.5em;"
                        >
                            Proprioception/Equilibre
                        </a>
                    </h4>
                </div>
                <div id="collapse-trait-proprioception" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row margin-bottom-10">
                            <div class="col-md-6" style="text-align: center;">
                                <div class="bg-light"><!-- You can delete "bg-light" class. It is just to make background color -->
                                    <div style="float: right;">
                                        <i class="icon-custom icon-lg rounded-x icon-color-blue icon-line glyphicon glyphicon-plus" not-yet></i>
                                        <br/>
                                        <i class="icon-custom icon-lg rounded-x icon-color-blue icon-line glyphicon glyphicon-envelope" not-yet></i>
                                    </div>
                                    <h4><i class="fa fa-align-justify"></i>...</h4>
                                    <img class="exercice" src="img/traitements/reeducation_equilibre.jpeg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

        </div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script src="assets/plugins/jquery/jquery.min.js"></script>
<script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="assets/plugins/back-to-top.js"></script>
<script src="assets/plugins/smoothScroll.js"></script>
<script src="assets/plugins/jquery.parallax.js"></script>
<script src="assets/plugins/counter/waypoints.min.js"></script>
<script src="assets/plugins/counter/jquery.counterup.min.js"></script>
<script src="assets/plugins/skrollr/skrollr-ini.js"></script>
<script src="assets/plugins/wow-animations/js/wow.min.js"></script>
<script src="assets/plugins/backstretch/backstretch-ini.js"></script>
<script src="assets/plugins/sliding-panel/jquery.sliding-panel.js"></script>
<script src="assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script src="assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<!-- JS Page Level -->
<script src="assets/js/app.js"></script>
<script src="assets/js/plugins/style-switcher.js"></script>
<script src="assets/js/plugins/owl-carousel.js"></script>
<script src="assets/js/plugins/cube-portfolio/masonry-v1.js"></script>
<!-- JS Customization -->
<script src="assets/js/custom.js"></script>
<!-- JS Initialization -->

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-touch/angular-touch.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>

<!-- Controller -->

<script src="app/kineliveCtrl.js"></script>
<script src="app/patientsController.js"></script>
<script src="app/profilController.js"></script>
<script src="app/outilsController.js"></script>
<script src="app/symptomesController.js"></script>
<script src="app/traitementsController.js"></script>
<script src="app/notYet.js"></script>


<script type="text/javascript">
    jQuery(document).ready(function () {
        $(".init-hidden").show();
        App.init();
        App.initCounter();
        App.initParallaxBg();
//        OwlCarousel.initOwlCarousel();
//        StyleSwitcher.initStyleSwitcher();
//        new WOW().init();
//        $('#cbp-lightbox').cubeportfolio({}); // For popup video on the promo block
    });
</script>
<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
</body>
</html>
